.games {
  background-color: rgb(3, 7, 245);
  color: white;
  padding: 0.2rem;
  border-radius: 5px;
}

.trend {
  background-color: rgb(5, 146, 0);
  color: white;
  padding: 0.2rem;
  border-radius: 5px;
}

.tech {
  background-color: rgb(64, 29, 104);
  color: white;
  padding: 0.2rem;
  border-radius: 5px;
}

.fashion {
  background-color: rgb(151, 59, 128);
  color: white;
  padding: 0.2rem;
  border-radius: 5px;
}
