.navBar {
  display: flex;
  max-width: 1120px;
  margin: 0 auto;
  padding: 1rem;
  justify-content: space-between;
  align-items: center;

  img {
    height: 3rem;
  }

  div {
    display: flex;
    align-items: center;

    ul {
      display: flex;

      li {
        list-style: none;

        a {
          border-bottom: 2px solid var(--gray-300);
        }

        & + li {
          margin-left: 1rem;
        }
      }
    }

    button {
      margin-left: 1rem;
      border: none;
      background: var(--orange);
      padding: 0.5rem;
      border-radius: 5px;
    }
  }
}
